﻿<!DOCTYPE html>
<!-- Template Name: Clip-Two - Responsive Admin Template build with Twitter Bootstrap 3.x | Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Mild Systems - @ViewBag.Title</title>
    <!-- start: META -->
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- end: META -->
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->
    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/vendor/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/vendor/themify-icons/themify-icons.min.css">
    
    <link href="~/Content/vendor/animate.css/animate.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/switchery/switchery.min.css" rel="stylesheet" media="screen">
    <!-- end: MAIN CSS -->
    <!--Editor
    ============-->
    <link href="~/Content/EditorCss/bootstrap3_wysihtml5/bootstrap3-wysihtml5.css" rel="stylesheet" />
    <!--Toastr
    ============-->
    <link href="~/Content/ToastrCss/Toaster/toastr.css" rel="stylesheet" />
    <!-- start: CLIP-TWO CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/styles.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins.css">
    <link rel="stylesheet" href="~/Content/assets/css/themes/theme-1.css" />
    @RenderSection("CSS", false)

    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">

    

    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">

    <!-- end: CLIP-TWO CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
</head>
<!-- end: HEAD -->
<body>
    <div id="app">
        <!-- sidebar -->
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
              @Html.Partial("_SideMenuBarPartial");
            </div>
        </div>
        <!-- / sidebar -->
        <div class="app-content">
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="/Home/index/">

                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <!-- start: LANGUAGE SWITCHER -->
                        <!-- start: USER OPTIONS DROPDOWN -->
                        @Html.Partial("_LoginPartial")

                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
                    <div class="close-handle visible-xs-block menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <div class="arrow-left"></div>
                        <div class="arrow-right"></div>
                    </div>
                    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
                </div>
                <!-- end: NAVBAR COLLAPSE -->
            </header>
            <!-- end: TOP NAVBAR -->
            <div class="main-content">
                <div class="wrap-content container" id="container">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- start: FOOTER -->
        <footer>
            <div class="footer-inner">
                <div class="pull-left">
                    &copy;
                    <span class="current-year"></span>
                    <span class="text-bold text-uppercase"> Mild Systems </span>.
                    <span>All rights reserved</span>
                </div>
                <div class="pull-right">
                    <span class="go-top"><i class="ti-angle-up"></i></span>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->
        <!-- start: OFF-SIDEBAR -->
        <div id="off-sidebar" class="sidebar">
            <div class="sidebar-wrapper">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#off-users" aria-controls="off-users" role="tab" data-toggle="tab">
                            <i class="ti-comments"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#off-favorites" aria-controls="off-favorites" role="tab" data-toggle="tab">
                            <i class="ti-heart"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#off-settings" aria-controls="off-settings" role="tab" data-toggle="tab">
                            <i class="ti-settings"></i>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="off-users">
                        <div id="users" toggleable active-class="chat-open">
                            <div class="users-list">
                                <div class="sidebar-content perfect-scrollbar">
                                    <h5 class="sidebar-title">On-line</h5>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="~." src="~/Content/assets/images/avatar-2.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Nicole Bell</h4>
                                                    <span> Content Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <div class="user-label">
                                                    <span class="label label-success">3</span>
                                                </div>
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="~." src="~/Content/assets/images/avatar-3.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Steven Thompson</h4>
                                                    <span> Visual Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="~." src="~/Content/assets/images/avatar-4.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <i class="fa fa-circle status-online"></i>
                                                <img alt="~." src="~/Content/assets/images/avatar-5.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                    <h5 class="sidebar-title">Off-line</h5>
                                    <ul class="media-list">
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="~." src="~/Content/assets/images/avatar-6.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Nicole Bell</h4>
                                                    <span> Content Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <div class="user-label">
                                                    <span class="label label-success">3</span>
                                                </div>
                                                <img alt="~." src="~/Content/assets/images/avatar-7.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Steven Thompson</h4>
                                                    <span> Visual Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="~." src="~/Content/assets/images/avatar-8.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="~." src="~/Content/assets/images/avatar-9.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="~." src="~/Content/assets/images/avatar-10.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Ella Patterson</h4>
                                                    <span> Web Editor </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="media">
                                            <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                                <img alt="~." src="~/Content/assets/images/avatar-5.jpg" class="media-object">
                                                <div class="media-body">
                                                    <h4 class="media-heading">Kenneth Ross</h4>
                                                    <span> Senior Designer </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="user-chat">
                                <div class="chat-content">
                                    <div class="sidebar-content perfect-scrollbar">
                                        <a class="sidebar-back pull-left" href="#" data-toggle-class="chat-open" data-toggle-target="#users"><i class="ti-angle-left"></i> <span>Back</span></a>
                                        <ol class="discussion">
                                            <li class="messages-date">
                                                Sunday, Feb 9, 12:58
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, Nicole
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        How are you?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, i am good
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Glad to see you ;)
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Sunday, Feb 9, 13:10
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        What do you think about my new Dashboard?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Sunday, Feb 9, 15:28
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Alo~.
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Are you there?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        Hi, i am here
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Your Dashboard is great
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="messages-date">
                                                Friday, Feb 7, 23:39
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        How does the binding and digesting work in AngularJS?, Peter?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        oh that's your question?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        little reduntant, no?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        literally we get the question daily
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        I know. I, however, am not a nerd, and want to know
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="self">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Peter Clark
                                                    </div>
                                                    <div class="message-text">
                                                        for this type of question, wouldn't it be better to try Google?
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-1.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="other">
                                                <div class="message">
                                                    <div class="message-name">
                                                        Nicole Bell
                                                    </div>
                                                    <div class="message-text">
                                                        Lucky for us :)
                                                    </div>
                                                    <div class="message-avatar">
                                                        <img src="~/Content/assets/images/avatar-2.jpg" alt="">
                                                    </div>
                                                </div>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="message-bar">
                                    <div class="message-inner">
                                        <a class="link icon-only" href="#"><i class="fa fa-camera"></i></a>
                                        <div class="message-area">
                                            <textarea placeholder="Message"></textarea>
                                        </div>
                                        <a class="link" href="#">
                                            Send
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="off-favorites">
                        <div class="users-list">
                            <div class="sidebar-content perfect-scrollbar">
                                <h5 class="sidebar-title">Favorites</h5>
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#">
                                            <img alt="~." src="~/Content/assets/images/avatar-7.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Nicole Bell</h4>
                                                <span> Content Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <div class="user-label">
                                                <span class="label label-success">3</span>
                                            </div>
                                            <img alt="~." src="~/Content/assets/images/avatar-6.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Steven Thompson</h4>
                                                <span> Visual Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="~." src="~/Content/assets/images/avatar-10.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ella Patterson</h4>
                                                <span> Web Editor </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="~." src="~/Content/assets/images/avatar-2.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Kenneth Ross</h4>
                                                <span> Senior Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="~." src="~/Content/assets/images/avatar-4.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Ella Patterson</h4>
                                                <span> Web Editor </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#">
                                            <img alt="~." src="~/Content/assets/images/avatar-5.jpg" class="media-object">
                                            <div class="media-body">
                                                <h4 class="media-heading">Kenneth Ross</h4>
                                                <span> Senior Designer </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="off-settings">
                        <div class="sidebar-content perfect-scrollbar">
                            <h5 class="sidebar-title">General Settings</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Enable Notifications</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Show your E-mail</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">Show Offline Users</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" checked />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">E-mail Alerts</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="padding-10">
                                        <div class="display-table-cell">
                                            <input type="checkbox" class="js-switch" />
                                        </div>
                                        <span class="display-table-cell vertical-align-middle padding-left-10">SMS Alerts</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="save-options">
                                <button class="btn btn-success">
                                    <i class="icon-settings"></i><span>Save Changes</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: OFF-SIDEBAR -->
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/modernizr/modernizr.js"></script>
    <script src="~/Content/vendor/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Content/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/Content/vendor/switchery/switchery.min.js"></script>
    <!--Editor
    ============-->
    <script src="~/Scripts/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.js"></script>
    <script src="~/Scripts/bootstrap-wysihtml5/BootstrapEditorWrapper.js"></script>
    <!--Toastr
     ============-->
    <script src="~/Scripts/Toaster/toastr.min.js"></script>
    <script src="~/Scripts/Toaster/ToasterWrapper.js"></script>
    <!--CustomFiles
    ============-->
    <script src="~/Scripts/Custom/Custom.js"></script>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="~/Content/vendor/Chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="~/Content/assets/js/main.js"></script>
    <!-- start: JavaScript Event Handlers for this page -->
    <script src="~/Content/assets/js/index.js"></script>

    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>

    <script src="~/Content/assets/js/table-data.js"></script>
    <script src="~/JS/Roles.js"></script>
    <script src="~/JS/Common.js"></script>
   @RenderSection("Scripts", false)
    <script>

        jQuery(document).ready(function () {
            Main.init();
            //FormElements.init();

            chart1HandlerR();
            Index.init();
        });
        var chart1HandlerR = function () {
            var data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Last Year',
                    fillColor: 'rgba(220,220,220,0.2)',
                    strokeColor: 'rgba(220,220,220,1)',
                    pointColor: 'rgba(220,220,220,1)',
                    pointStrokeColor: '#fff',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: [90, 80, 90, 80, 70, 60, 50, 40, 30, 20, 10, 100]
                }, {
                    label: 'This Year',
                    fillColor: 'rgba(151,187,205,0.2)',
                    strokeColor: 'rgba(151,187,205,1)',
                    pointColor: 'rgba(151,187,205,1)',
                    pointStrokeColor: '#fff',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(151,187,205,1)',
                    data: [5, 10, 20, 50, 76, 40, 50, 60, 70, 80, 90, 99]
                }]
            };

            var options = {

                maintainAspectRatio: false,

                // Sets the chart to be responsive
                responsive: true,

                ///Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,

                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',

                //Number - Width of the grid lines
                scaleGridLineWidth: 1,

                //Boolean - Whether the line is curved between points
                bezierCurve: false,

                //Number - Tension of the bezier curve between points
                bezierCurveTension: 0.4,

                //Boolean - Whether to show a dot for each point
                pointDot: true,

                //Number - Radius of each point dot in pixels
                pointDotRadius: 4,

                //Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,

                //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,

                //Boolean - Whether to show a stroke for datasets
                datasetStroke: true,

                //Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,

                //Boolean - Whether to fill the dataset with a colour
                datasetFill: true,

                // Function - on animation progress
                onAnimationProgress: function () {
                },

                // Function - on animation complete
                onAnimationComplete: function () {
                },

                //String - A legend template
                legendTemplate: '<ul class="tc-chart-js-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].strokeColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>'
            };
            // Get context with jQuery - using jQuery's .get() method.
            var ctx = $("#chartR").get(0).getContext("2d");
            // This will get the first returned node in the jQuery collection.
            var chart1 = new Chart(ctx).Line(data, options);
            //generate the legend
            var legend = chart1.generateLegend();
            //and append it to your page somewhere
            $('#chart1LegendR').append(legend);
        };
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
    
</body>
</html>
