﻿@using Microsoft.AspNet.Identity




<li class="dropdown current-user">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <img src="~/Content/assets/images/avatar-1.png" alt="Peter"> <span class="username">@User.Identity.GetUserName()  <i class="ti-angle-down"></i></i></span>
    </a>
    <ul class="dropdown-menu dropdown-dark">
              <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
               


                <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
            }
        </li>
    </ul>
</li>
