﻿<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vindictus is an action-packed, Free-to-Play MMORPG. Enter a world beyond and experience gratifying real-time combat, epic monsters &amp;amp; glorious visuals.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="~/Content/Site/images/favicon.ico">
    <link href="http://vindictus.nexon.net/" rel="canonical">

    <!-- Title
    ================== -->
    <title>ITL Detailing</title>
    <!-- Icon
    =====================-->
    <link href="~/Content/Site/images/logo.png" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <!-- Css Attached Files
    ========================= -->
    <link href="~/Content/Site/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site/css/scrolling-nav.css" rel="stylesheet">
    <link href="~/Content/Site/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Style Css
    ========================== -->
    <link href="~/Content/Site/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site/css/theme.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Meta Code
    ============================ -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" class="border-box home desktop loaded">

<div class="login-page">
    <div class="table">
        <div class="table-cell">
                
            <div class="login-form-cntnr">
                <a href="index.html" class="login-logo"><img src="/Content/Site/images/logo.png" alt=""></a>
                <div class="login-detaile">
                    @RenderBody()                   
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- jQuery -->
    <script src="~/Content/Site/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/Site/js/bootstrap.min.js"></script>
    <script src="~/Content/Site/js/custom.js"></script>
</body>
</html>