﻿@using Itldetailing.Models
<nav>
    <!-- start: MAIN NAVIGATION MENU -->

    <ul style="margin-top:0px !important;" class="main-navigation-menu">
       
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
            <a href="/Home/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-dashboard"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Dashboard </span>
                    </div>
                </div>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customer" ? "active" : "")">
            <a href="/Customer/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Add Customer</span>
                    </div>
                </div>
            </a>
        </li>        
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Supplier" ? "active" : "")">
            <a href="/Supplier/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Add Supplier</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Products" ? "active" : "")">
            <a href="/Products/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Add Product</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MoterCycle1" ? "active" : "")">
            <a href="/MoterCycle1/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Add Moter Cycle</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employe" ? "active" : "")">
            <a href="/Employe/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Add Employe</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ProductOrder" ? "active" : "")">
            <a href="/ProductOrder/index">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title"> Product Order </span>
                    </div>
                </div>
            </a>
        </li>
        @*<li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "TestimonalsForm" ? "active" : "")">
        <a href="/TestimonalsForm/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-file-text-o"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Testimonial Page</span>
                </div>
            </div>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "GallaryVidios" || ViewContext.RouteData.Values["Controller"].ToString() == "GalleryImages" ? "active" : "")">
        <a href="javascript:void(0)">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-camera-retro"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Gallery Page </span><i class="icon-arrow"></i>
                </div>
            </div>
        </a>
        <ul class="sub-menu">
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "GalleryImages" ? "active" : "")">
                <a href="/GalleryImages/index">
                    <div class="item-content">
                        <div class="item-media">
                            <i style="color:#00a651;" class="fa fa-file-image-o"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Gallery Images </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "GallaryVidios" ? "active" : "")">
                <a href="/GallaryVidios/index">
                    <div class="item-content">
                        <div class="item-media">
                            <i style="color:#00a651;" class="fa fa-file-video-o"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> Gallery Videos </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "AboutUs" ? "active" : "")">
        <a href="/AboutUs/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> About Us Page</span>
                </div>
            </div>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ServicesPage" ? "active" : "")">
        <a href="/ServicesPage/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-wrench"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Services Page</span>
                </div>
            </div>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MainSliderImages" ? "active" : "")">
        <a href="/MainSliderImages/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-sliders"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Main Slider Images</span>
                </div>
            </div>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SotialIcone" ? "active" : "")">
        <a href="/SotialIcone/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-user-plus"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Follow Us Page</span>
                </div>
            </div>
        </a>
    </li>
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "SocialData" ? "active" : "")">
        <a href="/SocialData/index">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-th"></i>
                </div>
                <div class="item-inner">
                    <span class="title"> Social Data Page</span>
                </div>
            </div>
        </a>
    </li>
    @{ HoustonCarStereoEntities db = new HoustonCarStereoEntities();
        var contct = db.ContactUs.Count();
    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Reporting" && ViewContext.RouteData.Values["Action"].ToString() == "ContactUs" ? "active" : "")">
        <span class="badge badge-danger pull-right margin-right-5">@contct</span>
        <a href="/Reporting/ContactUs">
            <div class="item-content">
                <div class="item-media">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="item-inner">
                    <span class="title">Contact Us</span>
                </div>
            </div>
        </a>
    </li>
    }*@
    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
</nav>
