﻿
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vindictus is an action-packed, Free-to-Play MMORPG. Enter a world beyond and experience gratifying real-time combat, epic monsters &amp;amp; glorious visuals.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="~/Content/Site/images/favicon.ico">
    <link href="http://vindictus.nexon.net/" rel="canonical">

    <!-- Title
    ================== -->
    <title>ITL Detailing</title>
    <!-- Icon
    =====================-->
    <link href="~/Content/Site/images/logo.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
  
    <!-- Css Attached Files
    ========================= -->
    <link href="~/Content/Site/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site/css/scrolling-nav.css" rel="stylesheet">
    <link href="~/Content/Site/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Scripts/build/jquery.datetimepicker.min.css" rel="stylesheet" />

    <!-- Style Css
    ========================== -->
    <link href="~/Content/Site/css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site/css/theme.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Site/css/responsive.css" rel="stylesheet" type="text/css">

    <!-- Meta Code
    ============================ -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
    <!-- Toastr
    ============================ -->
    <link href="~/Content/ToastrCss/Toaster/toastr.min.css" rel="stylesheet" />


</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<!-- Scroll To TOp -->    
<a class="scrollToTop" href="#"><i class="fa fa-angle-double-up "></i></a>    




<!-- Nav top Area Starts Here 
============================= -->
@Html.Partial("~/Views/InnerPages/SiteTopPartial.cshtml")
<!-- Nav top Area Ends Here 
============================= -->

<!-- Navigation  Panel STarts Here
================================== -->
<nav id="main-navigation" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo-1" href="index.html"><img src="~/Content/Site/images/logo.png" alt=""></a>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navigation nav navbar-nav">
                <li class="active">
                    <a href="@Url.Action("Index","InnerPages")" class="custom">Home </a>
                </li>
                <li >
                    <a href="@Url.Action("AboutUs","InnerPages")" class="custom">About</a>
                </li>
                <li>
                    <a href="@Url.Action("Services","InnerPages")" class="custom">Services</a>                                                                                         
                </li>
                <li>
                    <a href="@Url.Action("MemberShip","InnerPages")" class="custom" title="">Membership</a>
                </li>
                <li>
                    <a href="@Url.Action("Gallery","InnerPages")" class="custom" title="">Gallery</a>
                </li>
                <li>
                    <a href="@Url.Action("Testimonail","InnerPages")" class="custom" title="">Testimonials</a>
                </li>
                <li>
                    <a href="@Url.Action("ContactUs","InnerPages")" class="custom" title="">Contact Us</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Navigation  Panel Ends Here
================================== -->



@RenderBody()

<!-- Footer Starts Here
======================= -->
<footer>
    <ul class="footer-nav">
        <li>
            <a href="@Url.Action("Index","InnerPages")">Home </a>
        </li>
        <li class="active">
            <a href="@Url.Action("AboutUs","InnerPages")">About</a>
        </li>
        <li>
            <a href="@Url.Action("Services","InnerPages")">Services</a>        
        </li>
        <li>
            <a href="@Url.Action("MemberShip","InnerPages")" class="custom" title="">Membership</a>
        </li>
        <li>
            <a href="@Url.Action("Gallery","InnerPages")" title="">Gallery</a>
        </li>
        <li>
            <a href="@Url.Action("Testimonail","InnerPages")" title="">Testimonials</a>
        </li>
        <li>
            <a href="@Url.Action("ContactUs","InnerPages")" title="">Contact Us</a>
        </li>
    </ul>
    <!-- Footer Bottom -->

    <div class="footer-bottom">
        <div class="container">
            <!-- Copy Rights -->
            <ul class="right-reserved">
                <li>Copyright © 2017 ITLDetailing.com</li>
                <li>All Rights Reserved</li>
            </ul>
            <!-- Logo -->
            <p>Powered By <span><a href="http://www.transcolabs.com"><img src="/Content/Site/images/footer-logo.png" alt=""></a></span></p>
        </div>
    </div>
    <!-- Footer Bottom -->
</footer>
<!-- Footer Ends Here
======================= -->

<!-- Java Script Portion 
================================== -->
<!-- jQuery -->
<script src="~/Content/Site/js/jquery-3.1.1.min.js"></script>
<script src="~/Content/Site/js/bootstrap.min.js"></script>
    
<!-- Toastr
================================== -->
<script src="~/Scripts/Toaster/toastr.min.js"></script>
<script src="~/Scripts/Toaster/ToasterWrapper.js"></script>
<!-- Custom
================================== -->
<script src="~/Content/Site/js/custom.js"></script>
    <script src="~/Scripts/build/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Scripts/App/Services.js"></script>
    <script src="~/Scripts/App/ShowToster.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('#datepicker').datetimepicker({
        timepicker:false,
        format:'d/m/Y',
        formatDate:'Y/m/d'
    });
</script>
<script>
    $('#timepicker').datetimepicker({
        datepicker:false,
        format:'H:i',
        step:5
    });
</script>
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
<script>
    $(document).ready(function () {

        $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        $('.custom').off('click', menuClick).on('click', menuClick);

        var activeTab = localStorage.getItem('activeTab');
        var lnk = $('.custom');
        if (activeTab) {
            for (var i = 0; i < lnk.length; i++) {
                var singleLnk = $(lnk[i]);
                singleLnk.parent().removeClass('active');
            }
            for (var i = 0; i < lnk.length; i++) {
                var singleLnk = $(lnk[i]);
                if (singleLnk.attr('href')===activeTab) {
                    singleLnk.parent().addClass('active');
                }
            }
        }
        Services.init();
        ShowToster.init();
        validation1();
        validation2();
        localStorage.clear();


    });
    var menuClick= function() {
        var href = $(this).attr('href');
        localStorage.setItem('activeTab', href);

    }

    var validation1 = function () {

        $('#form1').on('submit', function () {

            var erv = 0;
            $(".valid0").each(function (index, elem) {
                var elemValue = $(elem).val();
                if (elemValue === "") {
                    $(elem).css("border", "1px solid red");
                    erv = erv + 1;
                } else {
                    $(elem).css("border", "1px solid #e5e5e5");
                }
            });

            if (erv !== 0 ) {

                return false;
            }
        });
    }
    var validation2 = function () {

        $('#form2').on('submit', function () {

            var erv = 0;
            $(".valid0").each(function (index, elem) {
                var elemValue = $(elem).val();
                if (elemValue === "") {
                    $(elem).css("border", "1px solid red");
                    erv = erv + 1;
                } else {
                    $(elem).css("border", "1px solid #e5e5e5");
                }
            });

            if (erv !== 0 ) {

                return false;
            }
        });
    }

</script>
</body>
</html>