﻿@model Itldetailing.Models.Product

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Product Entery</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Add Products</span>
            </li>
        </ol>
    </div>
</section>

<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Add Products</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        @using (Html.BeginForm("Save", "Products", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x=>x.id)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x => x.CreatedDate)
            @Html.ValidationSummary()
            <div class="row">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Code <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control",placeholder = "Product Code" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Status  <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(new[] {
                                                new { Text = "- Select Status -", Value = "" },
                                                new { Text = "Active", Value = "true" },
                                                new { Text = "Non Active", Value = "false" }},
                                                "Value", "Text", Model.Status), new { @class = "form-control valid0" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Name <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Product Name" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Model <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control", placeholder = "Product Model" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Description <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Product Description" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Company <span class="symbol" aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Company, new { @class = "form-control", placeholder = "Product Company" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Category <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Category, new { @class = "form-control", placeholder = "Product Category" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Type <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.ProductType, new { @class = "form-control", placeholder = "Product Type" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("Partial", "Products")" />


@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormElements.init();
            validation();
        });
        function getConfirmation(id) {
            var ID = id;
            var retVal = confirm("Sure You Wana Delete it?");
            if (retVal == true) {
                var getUrl = "/Products/delete"; // Controller Action Url (Delete function)
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: { id: ID },
                    success: function (resp) {
                        loadPartialView();
                        return true;
                    },
                });
            }
            else {
                return false;
            }
        }

    </script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}