﻿@model  List<Itldetailing.Models.Product>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Model</th>
                <th>Description</th>
                <th>Company</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @item.Name </td>
                        <td> @item.Model</td>
                        <td> @item.Description</td>
                        <td> @item.Company</td>
                        <td> @item.Category</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("ProductEdit", "Products", new { id = item.id })"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>




