﻿@model Itldetailing.Models.Product

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Product Entery</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Add Products</span>
            </li>
        </ol>
    </div>
</section>

<div class="container-fluid container-fullw bg-white">
    <div  class="row">
        <hr />
        @using (Html.BeginForm("Save", "Products", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x => x.id)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x=>x.CreatedDate)
            @Html.ValidationSummary()

            <div class="row">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Code <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Status  <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.DropDownListFor(model => model.Status, new SelectList(new[] {
                                                new { Text = "- Select Status -", Value = "" },
                                                new { Text = "Active", Value = "true" },
                                                new { Text = "Non Active", Value = "false" }},
                                                "Value", "Text", Model.Status), new { @class = "form-control valid0" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Name <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Model <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Description <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Company <span class="symbol" aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Category <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Category, new { @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product Type <span class="symbol " aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.ProductType, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Update <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormElements.init();
            validation();
        });
    </script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}