﻿

@{
    ViewBag.Title = "Home Page";
}





<div class="container-fluid container-fullw padding-bottom-10">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="panel panel-white no-radius" id="visits">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"> Business Progress Comparison per Year Report </h4>
                            <ul class="panel-heading-tabs border-light">
                                <li class="panel-tools">
                                    <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div collapse="visits" class="panel-wrapper">
                            <div class="panel-body">
                                <div class="height-350">
                                    <canvas id="chartR" class="full-width" width="644" height="350" style="width: 644px; height: 350px;"></canvas>
                                    <div class="margin-top-20">
                                        <div class="inline pull-left">
                                            <div id="chart1LegendR" class="chart-legend"><ul class="tc-chart-js-legend"><li><span style="background-color:rgba(220,220,220,1)"></span>My First dataset</li><li><span style="background-color:rgba(151,187,205,1)"></span>My Second dataset</li></ul></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-lg-4">
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title"> General Statistics </h4>
                        </div>
                        <div class="panel-body">
                            <h3 class="inline-block no-margin">@ViewBag.t</h3> Total customers
                            <div class="progress progress-xs no-radius">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                    <span class="sr-only"> 40% Complete</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="no-margin">@ViewBag.D</h4>
                                    <div class="progress progress-xs no-radius no-margin">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.dp%;">
                                            <span class="sr-only"> 80% Complete</span>
                                        </div>
                                    </div>
                                    Paid
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="no-margin">@ViewBag.C</h4>
                                    <div class="progress progress-xs no-radius no-margin">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.Cp%;">
                                            <span class="sr-only"> 60% Complete</span>
                                        </div>
                                    </div>
                                    Non-Paid
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="no-margin">@ViewBag.N</h4>
                                    <div class="progress progress-xs no-radius no-margin">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.Np%;">
                                            <span class="sr-only"> 40% Complete</span>
                                        </div>
                                    </div>
                                    Clear
                                </div>
                            </div>
                            <div class="row margin-top-30">
                                <div class="col-xs-4 text-center">
                                    <div class="rate">
                                        <i class="fa fa-caret-up text-green"></i><span class="value">@*@ViewBag.dp.ToString("0.0")*@ 0</span><span class="percentage">%</span>
                                    </div>
                                    Paid
                                </div>
                                <div class="col-xs-4 text-center">
                                    <div class="rate">
                                        <i class="fa fa-caret-up text-green"></i><span class="value">@*@ViewBag.Cp.ToString("0.0")*@ 0</span><span class="percentage">%</span>
                                    </div>
                                    Non-Paid
                                </div>
                                <div class="col-xs-4 text-center">
                                    <div class="rate">
                                        <i class="fa fa-caret-down text-green"></i><span class="value">@*@ViewBag.Np.ToString("0.0")*@ 0</span><span class="percentage">%</span>
                                    </div>
                                    Clear
                                </div>
                            </div>
                            <div class="margin-top-10">
                                <div class="height-180">
                                    <canvas id="chart2" class="full-width" width="291" height="180" style="width: 291px; height: 180px;"></canvas>
                                    <div class="inline pull-left legend-xs">
                                        <div id="chart2Legend" class="chart-legend"><ul class="tc-chart-js-legend"><li><span style="background-color:rgba(220,220,220,0.5)"></span>My First dataset</li><li><span style="background-color:rgba(151,187,205,0.5)"></span>My Second dataset</li></ul></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
