﻿@model Itldetailing.Models.Supplier

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Supplier Information</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Add Supplier Information</span>
            </li>
        </ol>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Add Supplier</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        @using (Html.BeginForm("Save", "Supplier", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @*@Html.HiddenFor(x => x.cstmr.Id)*@
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Supplier Code.# <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.AcCode, new { @class = "form-control",placeholder="Supplier Code.#" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Supplier Description <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Supplier Description" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Supplier Location <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.Location, new { @class = "form-control", placeholder = "Supplier Location" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Credit Amount <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.CreditAmount, new { @class = "form-control", placeholder = "Supplier Credit" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Debit Amount <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.DebitAmount, new { @class = "form-control", placeholder = "Supplier Debit" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("Partial", "Supplier")" />

@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormElements.init();
            validation();
        });
        function getConfirmation(id) {
            var ID = id;
            var retVal = confirm("Sure You Wana Delete it?");
            if (retVal == true) {
                var getUrl = "/Supplier/delete"; // Controller Action Url (Delete function)
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: { id: ID },
                    success: function (res) {
                        loadPartialView();
                        return true;
                    },
                });
            }
            
            
            else {
                return false;
            }
        }

    </script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}