﻿@model  List<Itldetailing.Models.Supplier>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Description</th>
                <th>Location</th>
                <th>Credit</th>
                <th>Debit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @item.Description</td>
                        <td> @item.Location</td>
                        <td> @item.CreditAmount</td>
                        <td> @item.DebitAmount</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.Id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("Edit", "Supplier", new { id = item.Id })"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                        i++;
                    }
                }

        </tbody>
    </table>
</div>


