﻿@model  IEnumerable<Itldetailing.Models.AspNetUser>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td>@i</td>
                        <td>@(item.UserName == null ? "" : item.UserName)</td>
                        <td>
                            @foreach (var role in item.AspNetRoles)
                            {
                                <span>@(role.Name == null ? "" : role.Name) </span>
                            }
                        </td>
                        <td><a class="label label-default" href="@Url.Action("EditUser","Account", new { Id = item.Id })"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>


