﻿
@model Itldetailing.Models.UpdateUserViewModel
@{
    ViewBag.Title = "Register";
}



<h2>@ViewBag.Title.</h2>

<div class="block-flat">
    @using (Html.BeginForm("EditUserp", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4 class="title text-center">Edit account.</h4>
        <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.Id)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.role, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.role, new SelectList(ViewBag.roles, "Name", "Name"),"Select Role", new { @class = "form-control" })
                            </div>
                            @ViewBag.br
                        </div>

                       
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <input type="submit" class="btn btn-block btn-success btn-rad btn-lg" value="Save" />
                            </div>
                        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




