﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}
<fieldset>
    <legend>
        Alert!
    </legend>
    <p>
        Please check your email to Get your password.
    </p>
</fieldset>
