﻿@model Itldetailing.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}

<form class="form-forgot" action="/Account/ForgotPassword" method="post" role="form">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <fieldset>
        <legend>
            Forget Password?
        </legend>
        <p>
            Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
            <span class="input-icon">
                <input type="email" class="form-control" name="Email" placeholder="Email">
                <i class="fa fa-envelope-o"></i>
            </span>
        </div>
        <div class="form-actions">
            <a class="btn btn-primary btn-o" href="/account/login">
                <i class="fa fa-chevron-circle-left"></i> Log-In
            </a>
            <button type="submit" class="btn btn-primary pull-right">
                Submit <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>
    </fieldset>
</form>

