﻿@using Itldetailing.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginMaster.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <legend>
            Sign in to your account
        </legend>
        <p>
            Please enter your name and password to log in.
        </p>
        <div class="form-group">
            <span class="input-icon">
                <input type="text" class="form-control" name="UserName" placeholder="Username">
                <i class="fa fa-user"></i>
            </span>
        </div>
        <div class="form-group form-actions">
            <span class="input-icon">
                <input type="password" class="form-control password" name="Password" placeholder="Password">
                <i class="fa fa-lock"></i>
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-actions">

            <input type="hidden" value="@ViewBag.ReturnUrl" name="returnUrl" />
            <button type="submit" class="btn btn-primary pull-right">
                Login <i class="fa fa-arrow-circle-right"></i>
            </button>
        </div>

    </fieldset>
}
           