﻿@model Itldetailing.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    
}



<h2>@ViewBag.Title.</h2>

<div class="block-flat">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <h4 class="title text-center">Create a new account.</h4>
                    <hr />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control" ,id="123"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-6">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.role, new { @class = "col-md-2 control-label" })
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.role, ViewBag.roles as SelectList, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-3">
                                <input type="submit" class="btn btn-block btn-success btn-rad btn-lg" value="Create" />
                            </div>
                        </div>
    }
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>
<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("UsersView", "Account")" />


@section Scripts {
<script src="~/Content/assets/js/jquery.geocomplete.min.js"></script>
<script src="~/Content/assets/js/GoogleLocationWrapper.js"></script>
    <script>
        jQuery(document).ready(function () {
            GoogleLocationWrapper("123");

        });
    </script>
    
<script src="~/JS/ManageUsers.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

}
