@media (max-width: 1200px) {
/* Nav */
.navigation li a{padding: 20px 24px 19px;}
/* Nav */

/* Landing Page */
#landing-header .carousel-caption h2{font-size: 50px;}
.srvce-info h2{font-size: 15px;}
.srvce-info span{font-size: 14px;width: 65px;height: 55px;}
.landing-service .srvce-info .srvce-info-inner{height: 240px}
/* Landing Page */


/* Other Pages */
#contact-us .cntct-li .hedr-scl-mda li a{height: 30px;width: 30px; padding: 1px 6px 0;margin-left: 0;margin-right: 5px;font-size: 18px;}
#services .srvce-info .srvce-info-inner{min-height: 280px;}
#comparison h4{font-size: 14px;}
/* Other Pages */

}

@media (max-width: 991px) { 
/* Nav */	
.hedr-addrs-nv li{margin: 0 10px;}
.navigation li a{font-size: 16px;padding: 20px 16px 19px;}
/* Nav */	

/* Landing Page */
#landing-header .carousel-caption h2{font-size: 45px;max-width: 80%;}
#landing-header .carousel-caption a{width: 230px;margin: 0 6px;}
#landing-header .carousel-caption .crosle-hdng-cntnr{margin-bottom: 30px;}

h1{font-size: 28px;}

#welcome h1{max-width: 56%;}

.srvce-info-inner{padding: 20px 10px;}
.srvce-info h2 {display: block;font-size: 15px;width: 100%;word-spacing: -1px;}
.srvce-info span{float: left;}
.footer-nav li a{font-size: 14px;}

#testimonial-carousile {height: 320px;margin-top: 40px;}
/* Landing Page */

/* Other Pages */
.member-info h2{font-size: 16px;width: 100%;}
.member-info span {float: left;font-size: 14px;}

.tstmnl-cntnr{padding: 40px 5%;}


#contact-us h1{padding-left: 0;}
.cntct-li{padding-left: 5px;}
.contact-nav p {font-size: 14px;}
.cntct-li{height: 115px;}
#contact-us .cntct-li .hedr-scl-mda li a {
    font-size: 12px;
    height: 22px;
    line-height: 23px;
    margin-left: 0;
    margin-right: 3px;
    padding: 0 4px;
    width: 22px;
}
#services .srvce-info .srvce-info-inner{min-height: auto;}
.srvcs-botm ul li span{font-size: 12px;}
.srvcs-botm p{font-size: 12px;}
#comparison h4{font-size: 12px;max-width: 100%;}
/* Other Pages */
.landing-service .srvce-info .srvce-info-inner{height: 300px}
.video-postpnl li a img{width: 50px;}

}



@media (max-width: 767px) {
/* Nav */	
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{background: #1c64ba;}
.logo{display: none;}
.logo-1{margin-left: 00px;display: block;}
#nav-top{padding-top: 0;height: 65px;}
.hedr-scl-mda{line-height: auto;margin-right: 15px;}
.hedr-addrs-nv{float: left;}
.hedr-addrs-nv li {margin: 0 0 0 10px;}
.navbar{top: 65px;}
.hedr-scl-mda li a{width: 30px;height: 30px;padding: 2px 6px 0;font-size: 16px;}
.navbar-toggle{margin-top: 25px;}
.logo, .logo-1{ height: 75px;margin-top: 10px;max-width: 90px;}
.navigation li{display: block;}
.navbar-nav {margin: 0 -15px;}
.navigation li a {font-size: 18px;padding: 15px 16px 19px;}
/* Nav */

/* Landing Page */
.hedr-addrs-nv li p,
.hedr-addrs-nv li a,
p{font-size: 14px;}
#landing-header{margin-top: 150px;}
#landing-header .carousel-caption h2 {font-size: 32px;max-width: 98%;}
#landing-header .carousel-caption .crosle-hdng-cntnr{margin-bottom: 20px;}
#landing-header .carousel-caption a{margin-bottom: 10px;}
#landing-header{height: 400px;}

h1{font-size: 26px;}

#welcome{padding-top: 50px;padding-bottom: 50px;}
#welcome h1{max-width: 100%;}
#welcome .video-panel{max-width: 450px;margin: 0 auto;}

.srvce-info {margin: 0 auto;max-width: 450px;display: inline-block;}
.srvce-info h2 {display: inline-block;font-size: 20px;width: auto;word-spacing: 0;}
.srvce-info span {float: right;font-size: 18px;}

#testimonial-carousile {height: auto;text-align: center;}
#testimonial h1{padding-left: 0;}

.footer-nav li {padding: 0 6px;}
.footer-nav li a{font-size: 12px;}
.footer-bottom{text-align: center;height: auto;line-height: 45px;padding-bottom: 8px;}
.footer-bottom p{display: block;font-size: 12px;float: none;width: 100%;}
/* Landing Page */

/* Inner Pages */
#membership{text-align: center;}
#membership p,#membership h1,#gallery,#gallery h1{text-align: left;}
#membership img{width: 100%;}
.mmbrshp-panl{max-width: 450px;margin: 0 auto;position: relative;margin-top: 25px;}
.member-info h2{width: auto;font-size: 18px;}
.member-info span{float: right;font-size: 16px;}

.glry-pic-cntnr{max-width: 450px;margin: 0 auto;margin-bottom: 20px;display: block;height: 250px;}
.tstmnl-cntnr{padding: 40px 5%;text-align: center;}
#testimonial-carousile h2::before, .tstmnl-cntnr h2::before{display: none;}


.cntct-li {height: 120px;margin: 0 auto 20px;max-width: 450px;padding-left: 15px;}
#contact-us .cntct-li .hedr-scl-mda li a {font-size: 20px;height: 35px;margin-left: 0;margin-right: 10px;padding: 7px 6px;width: 35px;}
.srvcs-botm h1{text-align: left;}
#services{text-align: center;}
#comparison{text-align: center;}
#comparison h1{text-align: left;}
#comparison h2,
#comparison h5{text-align: center;}
.cmpr-pnl{margin-bottom: 1px;}
#comparison h4{font-size: 16px;}
#hdng-panel,#row-1,#row-2{margin-bottom: 20px;}
/* Inner Pages */

.landing-service .srvce-info .srvce-info-inner{height: auto;}
.right-reserved li::before{top: 17px;}

.cmpr-pnl{
    width: 100%;
}
.vieo-post-panel{height: auto;}
.video-post-cntnr-pnl{width: 100%;height: 320px;}
.mini-videos-panel{text-align: center;}
.video-postpnl li a img{width: 70px;}
.mini-videos-panel ul li{display: block;float: none;margin:0 auto;width: 440px;margin-bottom: 20px;}
.mini-videos-panel ul li .link-nav li{width: auto;}
#about-us{padding: 25px;height: auto;}
#about-us .table{position: relative;}
}



@media (max-width: 480px) {
    .right-reserved li::before{display: none;}
/* Nav */
#nav-top{height: auto;}
#nav-top ul{width: 100%;}
.navbar {top: 115px;}
.hedr-scl-mda {line-height: auto;margin-top: 15px;}
.navigation li a{font-size: 16px;padding: 10px 16px 19px;}
.hedr-scl-mda{margin-right: 0;}
/* Nav */

/* Landing Page */
h1 {font-size: 22px;padding-left: 0 !important;}
p {font-size: 12px;}
#welcome,
#service{
	padding-top: 30px;
	padding-bottom: 30px;
}
.inner-pages{padding-top: 240px;}
#about-us,
#contact-us{padding-bottom: 30px;}
#landing-header .carousel-caption a,
.srvce-info span,
.srvce-info a{
	font-size: 14px;
}
#landing-header,
#welcome,
#service,
#testimonial,
.inner-pages{
	text-align: center;
}

#landing-header {margin-top: 200px;}
#landing-header .carousel-caption h2{font-size: 22px;}

#welcome .video-panel {margin: 0 auto;max-width: 300px;height: 250px;}

.srvce-info{max-width: 300px;}
.srvce-info h2{font-size: 15px;}

#testimonial-carousile h2, .tstmnl-cntnr h2{font-size: 22px;}
#testimonial-carousile h2::before, .tstmnl-cntnr h2::before{display: none;}
#testimonial-carousile {padding: 50px 0;}

.footer-nav{display: none;}
.footer-bottom p{font-size: 11px;}
/* Landing Page */


/* Inner Pages */
.member-info h2{font-size: 16px;}
.member-info span{font-size: 14px;}
#membership p,#membership h1,#gallery,#gallery h1{text-align: center;}

.glry-pic-cntnr{height: 220px;}


#contact-us input{width: 100%;}
.contact-nav li{padding: 0;}
#services .dble-cntnr a{font-size: 14px;height: 35px;line-height: 35px;}
#landing-header .carousel-caption a, .srvce-info span, .srvce-info a{margin-bottom: 10px;}

.glry-layer h3{font-size: 28px;}
#about-us::before, #membership::before, #contact-us::before, #testimonials::before{
    width: 160px;
    height: 100px;
}
/* Inner Pages */
.video-postpnl{
    text-align: center;
}
.video-postpnl li a img {
    display: block;
    float: none;
    margin: 0 auto;
    width: 70px;
    margin-bottom: 10px;
}
.video-postpnl li a p{width: 100%;}
.mini-videos-panel ul li{width: 100%;}
.gallery-tabs li a{font-size: 14px;}
.modal-form-container .dble-inpt select{width: 100%;}
.modal-form-container form{padding: 10px;}
.modal-form-container form h3{font-size: 18px;}
#about-us .container{text-align: center;}

}
@media (max-height: 415px) {
	#landing-header{min-height: 500px;}
}