/* Scroll to Top Button 
======================= */
a.scrollToTop{
    bottom: 20px;
    right: -100%;
    position: fixed;
    text-decoration: none;
    z-index: 999999;
    width:35px;
    height:45px;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    font-size: 30px;
    border: 1px solid;
    border-color: transparent; 
}
a.scrollToTop:hover{background:rgba(150,217,65,0.8);border-color:rgba(0,0,0,0.8);color:#000;}
a.scrollToTop.left {
    opacity: 1;
    right: 20px;
}
a.scrollToTop.right {
    opacity: 0;
    right: 0;
}
/* Scroll to Top Button 
======================= */

/* Navigation Portion Starts Here
================================= */

/* Nav top Area Starts Here */
.logo,.logo-1{display: inline-block;max-width: 110px;padding: 0;}
.logo img,.logo-1 img{max-width: 100%;}
.logo-1{display: none;}

#nav-top{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background:transparent;
    z-index:999;
    background: #fff;
    text-align: center;
    padding-top: 10px;
    opacity: 1;
}
 #nav-top a{text-decoration: none;}
 #nav-top ul{margin-bottom: 0;}
/* Address Nav */
.hedr-addrs-nv{
    display: inline-block;
    list-style: none;
    padding-top: 15px;
}
.hedr-addrs-nv li{
    display: inline-block;
    text-align: left;
    margin: 0 50px;
}
.hedr-addrs-nv li a{
    font-size: 16px;
    display: inline-block;

}
.hedr-addrs-nv li p{
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
}
/* Address Nav */

/* Social Media Nav */
.hedr-scl-mda{
    list-style:none;
    display:inline-block;
    float:right; 
    margin-top: 20px;
}
.hedr-scl-mda li{
    display:inline-block;
}
.hedr-scl-mda li a{
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    height: 35px;
    line-height: 25px;
    padding: 4px 7px 0;
    text-align: center;
    width: 35px;
    margin-left: 10px;   
    background: #d4d4d4;    
}
.hedr-scl-mda li:nth-of-type(1) a:hover{
    background:#3b5998 ;   
}
.hedr-scl-mda li:nth-of-type(2) a:hover{
    background:#000 ;   
}
.hedr-scl-mda li:nth-of-type(3) a:hover{
    background:#fb512e ;   
}
.hedr-scl-mda li:nth-of-type(4) a:hover{
    background:#c83c27 ;   
}
/* Social Media Nav */

/* Nav top Area Ends Here */



/* Navigation */
.navbar{min-height: 60px;top: 100px;background: #111111;border-color: #000;margin: 0;position: absolute;}
.navigation{float: none;text-align: center;}
.navigation li{float: none;display: inline-block;}
.navigation li a{font-size: 18px;text-transform: capitalize;padding:20px 30px 19px 30px; }

/* Sticky */
#main-navigation.sticky{top: 0;position: fixed;}
/* Navigation */

/* Navigation Portion Ends Here
=============================== */


/* Landing Carousile Slider Css 
=============================== */

.carousel,.item,.active {height: 100%;}
.carousel-inner {height: 100%;}
.fill {width: 100%;height: 100%;background-position: center;-webkit-background-size: cover;-moz-background-size: cover;background-size: cover;-o-background-size: cover;}
.carousel-control{opacity: 1;}
.carousel-control .icon-prev::before,.carousel-control .icon-next::before{display: none;}
.carousel-control .icon-next,.carousel-control .icon-prev{font-size: 50px;}
.carousel-control.left,.carousel-control.right{background-image:none; }
.carousel-control{width: auto;}
.carousel-caption{left: 0;right: 0;padding-bottom:14%;}
#landing-header .carousel-indicators li,#landing-header .carousel-indicators li.active{background-color:#fff;width: 13px;height: 13px;border: 1px solid #fff;margin:5px;}
#landing-header .carousel-indicators li:hover,#landing-header .carousel-indicators li.active{background: #9de147;border-color: #9de147;}
/* Header SLider Portion Starts Here 
===================================== */
#landing-header{
    margin-top: 160px;
}
#landing-header .carousel-caption .crosle-hdng-cntnr{
    background: rgba(0,0,0,0.5);
    position: relative;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 50px;
}
.carousel-caption{
    text-shadow:0 0px 0px rgba(0, 0, 0, 0) !important;
}
#landing-header .carousel-caption h2{
    font-size: 55px;
    margin: 0 auto;
    padding:0 10px;
    position: relative;
    max-width: 70%;
}
#landing-header .carousel-caption a{
    font-size: 16px;
    display: inline-block;
    padding: 10px 0;
    width: 270px;
    text-decoration: none;
    text-transform: normal;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    border: 1px solid #9de147;
}

/* Header SLider Portion Ends Here 
================================== */

/* Welcome Panel Starts Here
============================ */
#welcome{
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    border-image:url("../images/border.png") 0 0 30 0 round round;
    border-style: solid;
    border-width: 7px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    overflow: hidden;
}
#welcome h1{
    display: block;
    max-width: 40%;
    margin-bottom: 20px;
}
#welcome p{
    margin-bottom: 20px;
}

#welcome .video-panel{
    height: 300px;
}
/* Welcome Panel Ends Here
========================== */

/* Services Panel Starts Here
============================= */
#service{    
    position: relative;
    padding:50px 0;
    background-repeat: no-repeat;
    background-image: url(../images/bg-12.jpg);
    background-size: cover;
}
#service h1{
    margin-bottom: 40px;
}
#service .srvce-info-inner p{
    max-height: 58px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.srvce-info-inner{
    position: relative;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
}

.srvce-info .dble-cntnr,
#services .dble-cntnr{
    text-align: justify;
    display: inline-block;
    width: 100%;
    position: relative;
}
.srvce-info h2{
    font-size: 18px;
    display: inline-block;
    float: left;
    margin-top: 0;
    text-transform: capitalize;
    margin-top: 10px;
}
.srvce-info span{
    float: right;
    background: url(../images/tag.png);
    background-size: 100% 100%;
    font-size: 16px;
    height: 60px;
    padding: 12px 0;
    text-align: center;
    width: 60px;
font-family: "Museo 500";    
}
.srvce-info p{
    margin-bottom: 15px;
}
.srvce-info a{
    font-size: 14px;
    text-transform: capitalize;
}
/* Services Panel Ends Here
=========================== */


/* Testimonial Panel Starts Here 
================================== */
#testimonial{
    position: relative;
    padding-top: 50px;
    padding-bottom: 25px;
    border-image:url("../images/border.png") 30 0 0 0 round round;
    border-style: solid;
    border-width: 7px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    overflow: hidden;
}
#testimonial-carousile{
    position: relative;
    margin-top: 40px;
    padding:80px 10%;
    height: 315px;
}
#testimonial-carousile a{text-decoration: none;}
#testimonial-carousile img,
.tstmnl-cntnr img{
    max-width: 100%;
}
#testimonial-carousile h2,
.tstmnl-cntnr h2{
    font-size: 24px;
    position: relative;
    margin-top: 35px;
}

#testimonial-carousile h2::before,
.tstmnl-cntnr h2::before{
    position: absolute;
    content:"";
    top: -35px;
    left: 0;
    font-size: 30px;
    color:#0e3c85;
    font-family:'FontAwesome';
}
#testimonial-carousile .carousel-indicators li{
    border-color:#0e3c85;
}
#testimonial-carousile .carousel-indicators .active{
    background: #0e3c85;
    border-color:#0e3c85;
}
.tstmnl-cntnr{
    position: relative;
    padding:40px 8%;
    width: 100%; 
    display: inline-block;
}
/* Testimonial Panel Ends Here 
============================== */

/* Footer Starts Here
===================== */
.footer-nav{
    list-style: none;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center;
}
.footer-nav li{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.footer-nav li.active a{
    text-decoration: underline;
}
.footer-nav li a{
    font-size: 16px;
    text-transform: capitalize;
}
/* Footer Bottom */
.right-reserved{display: inline-block;}
.right-reserved li{display: inline-block;color: #fff;font-size: 14px;padding-right: 10px;position: relative;}
.right-reserved li::before{height: 12px;background:#fff;width: 1px;position: absolute;left: -7px;top: 22px;content:"";}
.right-reserved li:nth-of-type(1)::before{display: none}
.footer-bottom{height: 60px;line-height: 55px;display:block;width: 100%;overflow: hidden;}
.footer-bottom p{display: inline-block;font-size: 14px;float: right;}
.footer-bottom p span{width: 130px;margin-left: 15px;display: inline-block;}
.footer-bottom p img{max-width: 100%;}
/* Footer Bottom */

/* Footer Starts Here
===================== */



/* Other Pages Starts Css 
========================= */
.inner-pages{
    position: relative;
    padding-top: 210px;
    padding-bottom: 50px;
    overflow-x:hidden; 
}
.inner-pages h1{
    margin-bottom: 25px;
}
.inner-pages p{
    margin-bottom: 20px;
}

/* About Us */
#about-us p{max-width: 95%;}
#about-us{height: 85%;padding: 0;}
#about-us .container{text-align: left;margin-top: 160px;}
/* About Us */


/* Gallery Panel */
.glry-pic-cntnr{
    position: relative;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    margin-bottom: 30px;
}
.glry-layer{
    width: 100%;
    height: 100%;
    background: rgba(157,225,71,0.7);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.glry-layer img{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 70px;
    height:50px;
}
.glry-layer h3{
    font-size: 40px;
    text-decoration: capitalize
}
.glry-pic-cntnr:hover .glry-layer{
    opacity: 1;
}

.gallery-tabs{
    display: inline-block;
    width: 100%;
    position: relative;
    list-style: none;
    border-bottom: 1px solid #acacac;
}
.gallery-tabs li{
    display: inline-block;
    float: left;
    margin-right: 1px;
}
.gallery-tabs li a{
    font-size: 20px;
    display: inline-block;
    position: relative;
    color: #959595;
    text-transform: capitalize;
    padding:0;
    text-decoration: none;
    width: 120px;
    text-align: center;
}
.gallery-tabs li a:hover,
.gallery-tabs li.active a{
    color: #0e3c85;
}
.gallery-tabs li a::before{
    height: 2px ;
    width: 100%;
    bottom: 0px;
    left: 0;
    background: #959595;
    position: absolute;
    content: "";
}

.gallery-tabs li.active a::before,
.gallery-tabs li a:hover::before{
    background: #0e3c85;
}
.tab-content{
    padding-top: 10px;
}

/* vieo-post-panel */
.vieo-post-panel{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 500px;
}
.video-post-cntnr-pnl{
    position: relative;
    padding: 0;
    height: 100%;
    float: left;
}
iframe{
    width: 100%;
    height: 100%;
}
.link-nav{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    list-style: none;
}
.link-nav li{
    display: block;
}
.link-nav li a{
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background:#00adef;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 10px;
}
.link-nav li a:hover{
    background: #96d941;
} 
.video-post-text-cntnr{
    position: relative;
    display: inline-block;
    padding:0;
    border:1px solid #d3d3d3;
    float: left;
    height: 100%;
}
.video-post-text-cntnr h3{
    font-size: 18px;
    margin: 0;
    color: #1b1b1b;
    font-family: 'Museo 500';
    text-transform: capitalize;
    margin-top: 20px; 
    margin-left:10px;    
} 
.top-arrow,
.bottom-arrow{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 20px;
    font-size: 18px;
    text-align: center;
    content: #737373;
    position: absolute;
    left: 0;
}
.top-arrow{top: 0;}
.bottom-arrow{bottom:0;}
.top-arrow i,
.bottom-arrow i{
    position: relative;
    top: -3px;
}
.bottom-arrow:hover,
.top-arrow:hover{
    background: #00adef;
    color: #fff;
}
.video-postpnl{
    display: inline-block;
    width: 100%;
    list-style: none;
}
.video-postpnl li{
    display: block;
    float: left;
    width: 100%;
}
.video-postpnl li a{
    display: inline-block;
    width: 100%;
    padding: 12px 0;
    float: left;
    border-bottom: 1px solid #d3d3d3;
}
.video-postpnl li:nth-last-child(1) a{
    border: hidden;
}
.video-postpnl li a:hover,
.video-postpnl li.active a{
    background: #f7f7f7;
}

.video-postpnl li a img{
    width: 70px;
    margin: 0 10px;
    float: left;
    max-width: 29%;
}
.video-postpnl li a p{  
    font-size: 14px;
    color: #6a6a6a;
    font-family: 'Museo 500'; 
    display: inline-block;   
    float: left;
    width: 70%;
    margin: 0;
}
/* vieo-post-panel */



/* Mini Video Panel */
.mini-videos-panel{
    display: inline-block;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 40px;
}
.mini-videos-panel ul{
    display: inline-block;
    position: relative;
    list-style: none;
    width: 100%;
}
.mini-videos-panel ul li{
    position: relative;
    display: inline-block;
    width: 33.33333333%;
    border-right: 1px solid #fff;float: left;
    margin-bottom:15px;
    height: 250px; 
}
.mini-videos-panel ul li .link-nav{
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    width: auto;
    opacity: 0;
}
.mini-videos-panel ul li:hover .link-nav{
    opacity: 1;
}
.mini-videos-panel ul li .link-nav li{
 border: medium hidden;
    display: block;
    float: none;
    height: auto;
    margin-bottom: 0;
}
.mini-videos-panel ul li .link-nav li a{
    background:#202522;
}
.mini-videos-panel ul li .link-nav li a:hover{
    background:#00adef; 
}
/* Mini Video Panel */

/* Gallery Panel */

/* Membership panle */
#membership p{max-width: 95%;}
#membership img{max-width: 100%;}
.membrshp-panl{position: relative;box-shadow: 0 0 9px 0px #1e1e1e;border: 1px solid #9de147}

.member-dtl-pnl{
    position: relative;
    width: 100%;
    height: auto;
}
.member-info{
    position: relative;
    padding: 20px;
    padding-bottom: 10px;
}
.member-info .dble-cntnr{
    text-align: justify;
    display: inline-block;
    width: 100%;
    position: relative;
}
.member-info h2{
    font-size: 20px;
    display: inline-block;
    float: left;
    margin-top: 0;
    text-transform: capitalize;
}
.member-info span{
    float: right;
    font-size: 20px;
}
.member-info p{
    margin-bottom: 10px;
}
/* Membership panle */



/* COntact US */
#contact-us{
    position: relative;
    overflow: hidden;
    padding-bottom: 80px;
}
#contact-us input{
    border: hidden;
    border-bottom: 1px solid #989898;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
    height: 45px;
    margin-bottom: 10px;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 0;
    padding-top: 20px;
    width: 47.5%;
    text-transform: capitalize;
}
#contact-us textarea{
    text-transform: capitalize;
    border: hidden;
    border-bottom: 1px solid #989898;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
    width: 97%;
    color: #989898;
    font-size:14px;
    height: 100px;
    margin-left: 1%;

}
#contact-us .submit{
    width: 220px;
    height: 45px;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 40px;
    padding: 0;
    border: none;
    margin-top: 40px;
    margin-bottom: 50px; 
}
.cntct-li{
    width: 100%;
    padding-left: 15px;
    height: 130px;
}
.contact-nav{list-style: none;}
.contact-nav li{}
.contact-nav h3{
    font-size: 20px;
    text-transform: capitalize;
}
.contact-nav p{font-size: 18px;}
#contact-us .hedr-scl-mda{float: none;line-height: normal;}
/* COntact US */

/* Services */
#services .dble-cntnr h1{
    display: inline-block;
}

#services .dble-cntnr a{
    float: right;
    display: inline-block;
    width: 120px;
    height: 40px;
    background: #c8c8c8;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    text-decoration: none;
}
#services a{text-decoration: none;}
#services .srvce-info{
    position: relative;
}
#services .srvce-info::before{
    left: 15px;
    right: 15px;
    height: 4px;
    background: #9de147;
    position: absolute;
    top: 0;
    z-index: 1;
    content: "";
}
#services .srvce-info .srvce-info-inner{
    min-height: 250px;
    position: relative;
}
#services .srvce-info .srvce-info-inner::before{
    display: none;
}
#services .srvce-info .srvce-info-inner{
    border: 5px solid;
    border-top:none;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
#services .srvce-info .srvce-info-inner:hover{border-color: #9de147;}
.brdr-blk:before{background:#4c4642 !important;}


.srvcs-botm p{margin-bottom: 0;}
.srvcs-botm span{margin-bottom: 0;}
.srvcs-botm h2{width: 100%;}
.srvcs-botm ul{list-style: none;}
.srvcs-botm ul li{width: 100%;display: inline-block;}
.srvcs-botm ul li p{display: inline-block;float: left;}
.srvcs-botm ul li span{float: right;font-size: 16px;background: none;width: auto;height: auto;padding: 0;}

#services .srvcs-botm .srvce-info .srvce-info-inner:hover{
    border-color: transparent !important;
}
.srvce-info span{
    background: rgba(0, 0, 0, 0) url("../images/service-tag 2.png") repeat scroll 0 0 / 100% 100%;
    width:80px;
    height: 60px;
}
.landing-service .srvce-info .srvce-info-inner{
    background:#000;
}
.landing-service .srvce-info .srvce-info-inner .bg-layer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    z-index: 0;
    top: 0;
}

.landing-service .srvce-info:nth-of-type(1) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info:nth-of-type(2) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info:nth-of-type(3) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info:nth-of-type(4) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info:nth-of-type(5) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info:nth-of-type(6) .srvce-info-inner .bg-layer{
    background: rgba(0, 0, 0, 0) url("../images/pic-6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.landing-service .srvce-info h2,
.landing-service .srvce-info span{
    color: #fff;
}

.landing-service .srvce-info p,
.landing-service .srvce-info a{
    color: #e1e1e1;
}
.landing-service .srvce-info .srvce-info-inner .dble-cntnr,
.landing-service .srvce-info .srvce-info-inner p,
.landing-service .srvce-info .srvce-info-inner a{
    position: relative;
    z-index: 1;
}
.landing-service .srvce-info a:hover{
    color: #9de147;    
}
.landing-service .srvce-info .srvce-info-inner{height: 220px;}

/* Services */



/* Comparison */
#comparison{
    text-align: center;
}
#comparison h1{
    text-align: left;
}
#comparison .rturn-anchr{
    text-align: left;
    display: block;
    margin-bottom: 20px;
    font-size: 16px;
    text-transform: capitalize;
}
#comparison .rturn-anchr a{
    color:#6f6f6f;
}
#comparison h2{
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    margin: 0;
}
#comparison h4{
    font-size: 16px;
    max-width: 85%;
    margin:0 auto;
}
#comparison h5{
    color: #2f2f2f;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
    margin: 0;
}
#comparison i{
    color: #609d11;
}
#hdng-panel .cmpr-pnl .table{
    border-top:5px solid #9de147;
    height: 65px;
}
.cmp-sml{
    width: 20%;
}
.cmpr-pnl{
    height: 60px;
    position: relative;
    padding-left: 1px;
    padding-right: 0;
    text-align:left;
}
.cmpr-pnl .table{
    width: 99.99%;
}
#hdng-panel .table{
    background: #f2f2f2;
}
#row-1 .table{
    background: #f7f7f7;
}
#row-2 .table{
    background: #e5ffc4;
}

/*.hdng-panel .hd-pnl,
.row-1 .row-pnl{
    padding-left: 1px;
    padding-right: 0;
}
.bg-clr{
    height: 60px;  
}

.row-1 .bg-clr{
    background: #f7f7f7;
}
.row-2 .bg-clr{
    background: #e5ffc4;
}*/
/* Comparison */


/* Other Pages Ends Css 
======================= */

#testimonials{
    position: relative;
    overflow: hidden;
}

#services .add-on-pnl .srvce-info-inner{border: 2px solid #9de147 ;}
#services .add-on-pnl .srvce-info-inner:hover{
    border:2px solid  !important;
    border-color:#9de147 !important;
}
#services .srvcs-botm .srvce-info.add-on-pnl .srvce-info-inner:hover{
        border-color:#9de147 !important;    
}
.add-on-pnl::before{
    display: none;
}
/* Log In */
.login-page{
    position: relative;
    width: 100%;
    height: 100%;
    background: #e6e6e6 url(../images/bg-texture.png);
    background-repeat: repeat;
    min-height: 650px;

}
.login-form-cntnr{
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.login-detaile {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 70%;
    height: auto;
    margin-top: 35px;
    padding: 40px;
    border: 1px solid #bbbbbb;
    background: #fff;
    border-top: 10px solid #1c64ba;
}
.login-detaile input{
    width: 100%;
    height: 60px;
    border-radius: 0;
    margin-bottom: 15px;
    padding-left: 40px;
}
.login-detaile input:nth-of-type(1){
    background-image:url(../images/icon-3.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}

.login-detaile input:nth-of-type(2){
    background-image:url(../images/icon-4.png);
    background-repeat: no-repeat;
    background-position: 10px center;
}
.login-detaile h2 {
    margin: 0;
    font-size: 28px;
    text-align: left;
    color: #1c64ba;
    margin-bottom: 30px;
}
.login-detaile .login-btn {
    background: #1c64ba;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    text-transform: capitalize;
    padding-left: 0;
}
.login-detaile .login-btn:hover{
    background:#000;
}
.login-detaile .checkbox-inline{
    float: left;
}
.login-detaile .checkbox-inline input{
    width: auto;
    height: auto;
    margin-bottom:0;
    padding-left: 0;
}
.login-detaile .forget-password{
    float: right;
}
.dble-cntn,
.dble-cntn a{
    color:#989898;
    font-size: 16px;
}

.login-logo{
    display: inline-block;
    width: 80%;
}


.pagination-cntnr {
    position: relative;
    text-align: center;
}

.pagination-nav {
    display: inline-block;
    position: relative;
    width: auto;
    list-style: none;
}

    .pagination-nav li {
        display: inline-block;
    }

        .pagination-nav li a {
            position: relative;
            display: inline-block;
            padding: 10px 15px;
            font-family: 'Museo 500';
            font-size: 16px;
            color: #464646;
            text-decoration: none;
            border: 1px solid #a3a3a3;
            margin-bottom: 15px;
        }

            .pagination-nav li a:hover,
            .pagination-nav li.active a {
                color: #fff;
                border-color: #9de147;
                background: #9de147;
            }



.login-logo img{
    width: 33%;
}
/* Log In */

/*.hdng-panel .hd-pnl,
.row-1 .row-pnl{
    padding-left: 1px;
    padding-right: 0;
}
.bg-clr{
    height: 60px;  
}

.row-1 .bg-clr{
    background: #f7f7f7;
}
.row-2 .bg-clr{
    background: #e5ffc4;
}*/
/* Comparison */


/* Other Pages Ends Css 
======================= */

/* Modal Form Portion Starts Here
================================= */
.modal-form-container{position: relative;}
.modal-form-container form{border:1px solid #ccc;padding:50px;}
.modal-form-container form label{font-size: 18px;color:#000;}
.modal-form-container form h3{font-size: 25px;color: #96d941;text-transform: capitalize;margin: 0;margin-bottom: 20px;}
.modal-form-container form input{margin-bottom: 15px;border-radius: 0;height: 40px;}
.modal-form-container form select,.modal-form-container form textarea{margin-bottom: 15px;border-radius: 0;}{margin-bottom: 15px;border-radius: 0;}
.modal-form-container .dble-inpt{display: block;position: relative;}
.modal-form-container .dble-inpt select{width: 47%;}
.modal-form-container .dble-inpt select:nth-of-type(1){/*float: left;*/}
.modal-form-container .dble-inpt select:nth-of-type(2){float: right;}
.modal-form-container form .submit{width: 130px;height: 40px;border-radius: 0;background: #96d941;color:#fff;text-transform: capitalize;text-align: center;line-height: 40px;font-weight: bold;border: hidden;}
.modal-form-container form .submit:hover{background:#1c64ba none repeat scroll 0 0;color: #fff;}
#call-back .close,
#schedual-appoinment .close{position: absolute;right: 20px;z-index: 10;}
#call-back .close,#schedual-appoinment .close{position: absolute;right: 20px;z-index: 10;opacity: 0.5;}
#call-back .close:hover,#schedual-appoinment .close:hover{opacity: 1;}
#schedual-appoinment img{width:100%;}
/* Modal Form Container Ends Here
=================================== */






