*{margin: 0px;padding: 0px;}
html,body {width: 100%;height: 100%;}
/*::selection {background-color: transparent;}*/
input[type=text]::-moz-clear {display: none;}
input[type=text]::-ms-clear {display: none;}
a:focus{ outline: none;}
::selection{background-color:rgba(154,222,169,0.7);color:#000;}
::-moz-selection {background-color:rgba(154,222,169,0.7);color:#000;}
::-ms-clear {display: none;}
img{-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-o-user-select: none;user-select: none;}


@font-face {
  font-family: 'Museo 500';
  src: url('../fonts/Museo500-Regular.eot');
  src: url('../fonts/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo500-Regular.woff') format('woff'),
    url('../fonts/Museo500-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo 300';
  src: url('../fonts/Museo300-Regular.eot');
  src: url('../fonts/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo300-Regular.woff') format('woff'),
    url('../fonts/Museo300-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Lato-light';
    src: url("../fonts/Lato-Light.eot");
    src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Lato-Bold';
    src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), 
    url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg#Lato-Bold") format("svg");
    font-weight: normal;
    font-style: normal
}

/* Font Portion */
.hedr-addrs-nv li p,
#landing-header .carousel-caption a,
h1,
#testimonial-carousile h2,
#service h2,
#service span,
.srvce-info a,
.glry-layer h3,
.tstmnl-cntnr h2,
.member-info h2,
.member-info span,
#contact-us .submit,
.contact-nav h3,
#services .dble-cntnr a,
.srvcs-botm ul li span,
.srvcs-botm h2,
.srvce-info h2,
#comparison h4,
#comparison .rturn-anchr,
#comparison h2{
      font-family: 'Lato-Bold';
}
.hedr-addrs-nv li a,
.navigation li a,
p,
.footer-bottom p,
.footer-nav li a,
#contact-us input,
#contact-us textarea,
#comparison h5{
    font-family: 'Lato-Regular';
}


#landing-header .carousel-caption h2,
.gallery-tabs li a{
    font-family: 'Museo 500';
}


/* COlor Portion */
.hedr-scl-mda li a,
.navigation li a,
.navbar-inverse .navbar-nav > li > a,
#landing-header .carousel-caption h2,
#landing-header .carousel-caption a,
.footer-bottom p,
.footer-nav li a,
.glry-layer h3,
#contact-us .submit,
#services .dble-cntnr a{
  color:#fff;
}

.hedr-addrs-nv li p{
  color: #191919;
}
.hedr-addrs-nv li a{
  color: #1c64ba;
}


/* Hover Portion */

/* Green */
.hedr-addrs-nv li a:hover{
  color: #9de147;
}
.srvce-info a{
  color: #1c64ba;
}
#landing-header .carousel-caption a:hover,
#testimonial-carousile h2,
.tstmnl-cntnr h2,
.member-info h2,
.contact-nav h3,
.srvce-info h2,
#comparison h4,
#comparison h2{
  color: #000;
}
/* Blue */
.srvce-info span,
.member-info span,
#comparison .rturn-anchr,
#comparison .rturn-anchr a:hover{
  color:#0e3c85;
}




/* Background */


/* Blue */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover,
#contact-us .submit:hover,
#services .dble-cntnr a:hover{
  background: #1c64ba;
}

#contact-us .submit{background: #9de147;}


footer{
  background: #0e3c85;
}
.footer-bottom{
  background: #083275;
}

.srvce-info-inner,
.member-info,.cntct-li{background: #f7f7f7;}

/* Extra Css */
h1{
  color: #0e3c85;
  font-size: 30px;
  margin: 0;
  text-transform: capitalize;
}
p{
  margin-bottom: 20px;
  color:#5b5b5b; 
  margin: 0;
}
iframe{
  width: 100%;
  height: 100%;
}
.brdr-tp{
  border-top: 5px solid #9de147;
}

.hedr-scl-mda li a,
.hedr-addrs-nv li a,
.navigation li a,
#landing-header .carousel-caption a,
.carousel-indicators li,
.footer-nav li a,
.srvce-info-inner::before,
.glry-layer,
#contact-us .submit,
#services .dble-cntnr a,
#services .srvce-info .srvce-info-inner,
#comparison .rturn-anchr a:hover,
.scrollToTop,
.membrshp-panl,
.gallery-tabs li a,
.gallery-tabs li a::before,
.link-nav li a,
.video-postpnl li a,
.top-arrow,
.bottom-arrow,
 .link-nav,
 .modal-form-container form .submit{
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.table{position:absolute;top:0px;left:0px;width:100%;height:100%;display:table;margin-bottom:0;}
.table-cell{
    height:100%;
    width:100%;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    position: relative;
    overflow: hidden;
      @include transition-property(all);
      @include transition-duration(0.3s);
      @include transition-timing-function(ease-in-out);
}
::-webkit-input-placeholder { color: #989898 !important;font-size:14px;}
::-moz-placeholder { color: #989898 !important; font-size:14px;}
:-ms-input-placeholder { color: #989898 !important; font-size:14px;}
:-moz-placeholder { color: #989898 !important; font-size:14px;}




/* Transition Effect */
.bg-transition{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.bg-transition:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #96d941;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.bg-transition:hover, .bg-transition:focus, .bg-transition:active {
  color: #000;
}
header .carousel-caption a:hover{color: #000;}
.bg-transition:hover:before, .bg-transition:focus:before, .bg-transition:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


/* Sliding Border */
.srvce-info-inner::before{
    position: absolute;
    height: 5px;
    background: #9de147;
    content: "";
    left: -100%;
    top: 0;
    width: 100%;
    opacity: 0;
}
.srvce-info-inner:hover:before{
    left: 0;
    opacity: 1;
}
/* Sliding Border */



/* Side Logo */
#about-us::before,
#membership::before,
#contact-us::before,
#testimonials::before{
    background-image:url("../images/logo-side.png");
    position: absolute;
    content: "";
    right: -40px;
    top: 180px;
    width: 200px;
    opacity: 0.2;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    -webkit-transform: rotatez(30deg);
       -moz-transform: rotatez(30deg);
        -ms-transform: rotatez(30deg);
         -o-transform: rotatez(30deg);
            transform: rotatez(30deg);
}
#testimonials::before{
  right: -80px;
}
#welcome::before{
    background-image:url("../images/logo-side.png");
    position: absolute;
    content: "";
    left: -75px;
    top: 10px;
    width: 200px;
    opacity: 0.2;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    -webkit-transform: rotatez(-30deg);
       -moz-transform: rotatez(-30deg);
        -ms-transform: rotatez(-30deg);
         -o-transform: rotatez(-30deg);
            transform: rotatez(-30deg);
}
#testimonial::before{
    background-image:url("../images/logo-side.png");
    position: absolute;
    content: "";
    right: -50px;
    bottom: 0px;
    width: 200px;
    opacity: 0.2;
    height: 150px;
    background-size: 100% 100%;
    background-repeat: no-repeat; 
    -webkit-transform: rotatez(30deg);
       -moz-transform: rotatez(30deg);
        -ms-transform: rotatez(30deg);
         -o-transform: rotatez(30deg);
            transform: rotatez(30deg);
}
/* Side Logo */

#gallery h1,
#contact-us h1,
#service h1,
#services h1,
#testimonial h1{
    padding-left: 15px;
}
.nopadding{padding: 0;}


















