﻿@model Itldetailing.Models.Product_Order

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Product Order</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Order</span>
            </li>
        </ol>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Product Order</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        @using (Html.BeginForm("Save", "ProductOrder", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @Html.ValidationSummary()
            @Html.HiddenFor(x => x.id)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x => x.CreatedDate)
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Order Quantity <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.OrderQuantity, new { @class = "form-control",placeholder="Order Quantity" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Reorder Level <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.ReorderLevel, new { @class = "form-control", placeholder = "Order Level" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Purchase Rate <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.PurchaseRate, new { @class = "form-control", placeholder = "Purchase Rate" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Sales Rate <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.SalesRate, new { @class = "form-control", placeholder = "Sale Rate" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Last Rate <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.LastRate, new { @class = "form-control", placeholder = "Last Rate" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Retail Rate <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.RetailRate, new { @class = "form-control", placeholder = "Retail Rate" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Sale Man Rate <span class="symbol " aria-required="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.SaleManRate, new { @class = "form-control", placeholder = "Sale Man Rate" })
                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Supplier <span class="symbol " aria-required="false"></span>
                        </label>
                        <input class="form-control" />
                        @*@Html.DropDownListFor(m => m.Fk_Supplier, new SelectList(ViewBag, "id", "Product_orde"), "- Select Employee -", new { @class = "form-control valid0" })*@
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Product <span class="symbol " aria-required="false"></span>
                        </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Moter Cycle <span class="symbol " aria-required="false"></span>
                        </label>
                        <input type="text" class="form-control" />
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("Partial", "ProductOrder")" />
@*<input type="hidden" id="hidDeleteRoleUrl" value="@Url.Action("delete", "ProductOrder")" />*@

@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
         jQuery(document).ready(function () {
             FormElements.init();
             //validation();
         });
         function getConfirmation(id) {
             var ID = id;
             var retVal = confirm("Sure You Wana Delete it?");
             if (retVal == true) {
                 var getUrl = "/ProductOrder/delete"; // Controller Action Url (Delete function)
                 $.ajax({
                     url: getUrl,
                     type: "POST",
                     data: { id: ID },
                     success: function (res) {
                         loadPartialView();
                         return true;
                     },
                 });
             }
             else {
                 return false;
             }
         }

</script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}
