﻿@model  List<Itldetailing.Models.Product_Order>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Order Quantity</th>
                <th>ReorderLevel</th>
                <th>PurchaseRate</th>
                <th>SalesRate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                    int i = 1;
                    foreach (var item in Model)
                    {

                        <tr>
                            <td> @item.id</td>
                            <td> @item.OrderQuantity</td>
                            <td> @item.ReorderLevel</td>
                            <td> @item.PurchaseRate</td>
                            <td> @item.SalesRate</td>
                            <td class="text-center">
                                <a class="label label-danger" onclick="getConfirmation(@item.id);"><i class="fa fa-times"></i></a>
                                <a class="label label-default" href="@Url.Action("Edit", "ProductOrder", new { id = item.id })"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                }

        </tbody>
    </table>
</div>




