﻿@model  List<Itldetailing.Models.CostomorInfo>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Cnic</th>
                <th>Customer Type</th>
                <th>Mobile number</th>
                <th>Profession</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @(item.Name + " " + item.FatherName)</td>
                        <td> @item.CNIC</td>
                        <td> @item.TypeCostmor</td>
                        <td> @item.MobileNumber</td>
                        <td> @item.Profession</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.Id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("Edit", "AddCostmor", new { id = item.Id })"><i class="fa fa-user"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>


