﻿@model Itldetailing.Models.AddCostmorViewModel
@{
    ViewBag.Title = "Index";
}


<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Customer Information</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span>Add Customer Information</span>
            </li>
        </ol>
    </div>
</section>

<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Add Custmoer</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        @using (Html.BeginForm("Save", "AddCostmor", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x => x.cstmr.Id)
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer Code <span class="symbol required" aria-required="true"></span>
                        </label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Form Code<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.FormCode, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.FormCode, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer Name <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.Name, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer Father Name <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.FatherName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.FatherName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer Address <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.Address, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer Official Address <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.OfficalAddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.OfficalAddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer type <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.TypeCostmor, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.TypeCostmor, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer CNIC <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.CNIC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.CNIC, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Phone Number<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.PhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.PhoneNumber, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            mobile Number<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.MobileNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.MobileNumber, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Monthly Income<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.Monthlyincom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.Monthlyincom, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Customer profession<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.cstmr.Profession, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.cstmr.Profession, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="mainTitle">Witness Information</h3>
                    <hr />
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness Name <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness Father Name <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WfName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WfName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness Address <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.Waddress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.Waddress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness Official Address <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WOficalAdress, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WOficalAdress, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Residence type <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.ResidenceType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.ResidenceType, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness CNIC <span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WCNIC, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WCNIC, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness Phone Number<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WPhoneNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WPhoneNumber, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness mobile Number<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WMobileNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WMobileNumber, null, new { @class = "text-danger" })
                    </div>
                </div>                
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-group">
                        <label class="control-label">
                            Witness profession<span class="symbol required" aria-required="true"></span>
                        </label>
                        @Html.TextBoxFor(model => model.witness.WProfssion, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.witness.WProfssion, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("View", "AddCostmor")" />
<input type="hidden" id="hidDeleteRoleUrl" value="@Url.Action("delete", "AddCostmor")" />


@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormElements.init();
            validation();
        });
        function getConfirmation(id) {
            var ID = id;
            var retVal = confirm("Sure You Wana Delete it?");
            if (retVal == true) {
                var getUrl = "/AddCostmor/delete"; // Controller Action Url (Delete function)
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: { id: ID },
                    success: function (response) {
                        loadPartialView();
                        return true;
                    },
                });
            }
            else {
                return false;
            }
        }

    </script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}