﻿
@model List<Itldetailing.Models.Customer>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Cnic</th>
                <th>Adress</th>
                <th>Mobile number</th>
                <th>Profession</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @(item.CustomerName +" "+ item.CustomerFather)</td>
                        <td> @item.CustomerCnic</td>
                        <td> @item.CustomerAdress1</td>
                        <td> @item.CustomerMobile</td>
                        <td> @item.CustomerProfession</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("Edit", "Customer", new { id = item.id })"><i class="fa fa-pencil"></i></a>
                            <a class="label label-default" href="@Url.Action("Dtl", "Customer", new { id = item.id })"><i class="fa fa-user"></i></a>
                        </td>
                    </tr>
                        i++;
                    }
                }
        </tbody>
   </table>
</div>


