﻿@model Itldetailing.Models.CustmerViewModel

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Customer Information</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Edit Customer Information</span>
            </li>
        </ol>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">    
    <div  class="row">
        <hr />
        @using (Html.BeginForm("Save", "Customer", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
           <div class="text-danger">
               
               </div> 
            ///////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x => x.cstmr.id);
            @Html.HiddenFor(x => x.cstmr.CreatedBy)
            @Html.HiddenFor(x => x.cstmr.CreatedDate)
            @Html.ValidationSummary()
            <div class="row">
                <div class="row" style="padding-left:25px">
                    <h1>Customer Info  </h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Account.# <span class="symbol"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomeCode, new { @class = "form-control", placeholder = "Enter Account.#" })

                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Status <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.DropDownListFor(model => model.cstmr.CustomerStatus, new SelectList(new[] {
                                                new { Text = "- Select Status -", Value = "" },
                                                new { Text = "Active", Value = "true" },
                                                new { Text = "Non Active", Value = "false" }},
                                                "Value", "Text", Model.cstmr.CustomerStatus), new { @class = "form-control valid0", placeholder = "Enter Status" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Name <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerName, new { @class = "form-control", placeholder = "Enter Name" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Father Name <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerFather, new { @class = "form-control" ,placeholder = "Enter Father Name"})
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer CNIC <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerCnic, new { @class = "form-control", Type="Number", placeholder = "Enter CNIC" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Phone Number <span class="symbol" aria-="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerPhone, new { @class = "form-control", Type = "Number", placeholder = "Enter Phone" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Mobile Number <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerMobile, new { @class = "form-control", Type = "Number", placeholder = "Enter Mobile" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Permanant Address <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerAdress1, new { @class = "form-control" , placeholder = "Enter Adress" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Temprory Address <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerAdress2, new { @class = "form-control", placeholder = "Enter Adress" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group form-control">
                            <label class="control-label">
                                Customer Home Type <span class="symbol " aria-="true"></span>
                            </label>
                            
                        </div>
                        @Html.DropDownListFor(model => model.cstmr.CustomerHomeType, new SelectList(new[] {
                                                new { Text = "- Select Home Type -", Value = "" },
                                                new { Text = "Owner", Value = "Owner" },
                                                new { Text = "Rented", Value = "Rented" }},
                                                "Value", "Text", Model.cstmr.CustomerStatus), new { @class = "form-control valid0" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Income <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerIncome, new { @class = "form-control", Type = "Number", placeholder = "Enter Income" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Customer Profession <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CustomerProfession, new { @class = "form-control", placeholder = "Enter Profession" })
                        </div>

                    </div>
                </div>
                <div class="row" style="padding-left:25px">
                    <h1>Collector Info</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Collector <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.Collector, new { @class = "form-control", placeholder = "Enter Cllector" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Collection Mode <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstmr.CollectionMode, new { @class = "form-control", placeholder = "Enter Collection Mode" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Reference Group <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.DropDownListFor(m => m.cstmr.Fk_ReferenceGroup, new SelectList(ViewBag.Group, "Id", "GroupName"), "- Select Refrence Group -", new { @class = "form-control valid0" })
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left:25px">
                    <h1>           Guaranter Info</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Name <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterName, new { @class = "form-control", placeholder = "Grentter Name" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Father Name <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterFather, new { @class = "form-control", placeholder = "Grentter Father Name" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter CNIC <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterCnic, new { @class = "form-control", type = "number", placeholder = "Grentter CNIC" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Phone Number <span class="symbol" aria-="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterPhone, new { @class = "form-control", type = "number", placeholder = "Grentter Phone" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Mobile Number <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterMobile, new { @class = "form-control", type = "number", placeholder = "Grentter Mobile" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Permanant Address <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterAddress, new { @class = "form-control", placeholder = "Grentter Address" })
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">
                                    1st Guaranter Temprory Address <span class="symbol " aria-="true"></span>
                                </label>
                               @Html.TextBoxFor(x => x.grnter[0].a, new { @class = "form-control" })
                            </div>

                        </div>*@
                    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">
                                    1st Guaranter Income <span class="symbol " aria-="true"></span>
                                </label>
                                @Html.TextBoxFor(x => x.grnter[0]., new { @class = "form-control" })
                            </div>
                        </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                1st Guaranter Profession <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[0].GrentterProfession, new { @class = "form-control", placeholder = "Grentter Profession" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Name <span class="symbol" aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterName, new { @class = "form-control", placeholder = "Grentter Name" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Father Name <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterFather, new { @class = "form-control", placeholder = "Grentter Father Name" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter CNIC <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterCnic, new { @class = "form-control" , type = "number", placeholder = "Grentter CNIC" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Phone Number <span class="symbol" aria-="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterPhone, new { @class = "form-control", type = "number", placeholder = "Grentter Phone" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Mobile Number <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterMobile, new { @class = "form-control", type = "number", placeholder = "Grentter Mobile" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Permanant Address <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterAddress, new { @class = "form-control", placeholder = "Grentter Address" })
                        </div>
                    </div>
                    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">
                                    2nd Guaranter Temprory Address <span class="symbol " aria-="true"></span>
                                </label>
                                <input type="text" class="form-control" />
                            </div>

                        </div>*@
                    @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                            <div class="form-group">
                                <label class="control-label">
                                    2nd Guaranter Income <span class="symbol " aria-="true"></span>
                                </label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                2nd Guaranter Profession <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.grnter[1].GrentterProfession, new { @class = "form-control", placeholder = "Grentter Profession" })
                        </div>

                    </div>
                </div>
                <div class="row" style="padding-left:25px">
                    <h1>           Verification</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Verified By <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstrVari.VerifyBy, new { @class = "form-control" , placeholder = "Verify By" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Verified By Employee<span class="symbol " aria-="true"></span>
                            </label>
                            @Html.DropDownListFor(m => m.cstrVari.Fk_Employe, new SelectList(ViewBag.Employee, "Id", "EmployeName"), "- Select Employee -", new { @class = "form-control valid0" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Remarks <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstrVari.Remarks, new { @class = "form-control", placeholder = "Remarks" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Verified Result <span class="symbol " aria-="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.cstrVari.VerifyResult, new { @class = "form-control", placeholder = "Verify Result" })
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Update <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>




@section Scripts {
    @*<script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>*@
    
}

@section CSS {
    @*<link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">*@
}