﻿@model Itldetailing.Models.MoterCycle

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Motor Cycle Entery</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Add Motor Cycle</span>
            </li>
        </ol>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Add Motor Cycle</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        @using (Html.BeginForm("Save", "MoterCycle1", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            ///////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x => x.CreatedDate)

            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
            <div class="row">

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Motor Cycle Code <span class="symbol" aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Code, new { @class = "form-control", placeholder = "Moter Cycle Code.#" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Product <span class="symbol" aria-required="true"></span>
                            </label>
                           @Html.DropDownListFor(m => m.Fk_Product, new SelectList(ViewBag.M, "id", "Name"), "Select Product", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Make  <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Make, new { @class = "form-control", placeholder = "Make" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Model <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Model, new { @class = "form-control", placeholder = "Model" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                CDI <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.DropDownListFor(x => x.Cdi, new SelectList(new[] {
                                                new { Text = "- Select CDI -", Value = "" },
                                                new { Text = "CDI-70", Value = "CDI-70" },
                                                new { Text = "CDI-125", Value = "CDI-125" },
                                                new { Text = "CDI-150", Value = "CDI-150" }},
                                                "Value", "Text", Model.Cdi), new { @class = "form-control valid0" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Engine No <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.EngineNo, new { @class = "form-control", placeholder = "Engion No" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Chaise No <span class="symbol" aria-required="false"></span>
                            </label>
                            @Html.TextBoxFor(x => x.ChaiseNo, new { @class = "form-control", placeholder = "Cahise No" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Color <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Color, new { @class = "form-control", placeholder = "Colour" })
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                        <div class="form-group">
                            <label class="control-label">
                                Key <span class="symbol " aria-required="true"></span>
                            </label>
                            @Html.TextBoxFor(x => x.Key, new { @class = "form-control", placeholder = "Key" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Save <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("Partial", "MoterCycle1")" />


@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    <script>
        jQuery(document).ready(function () {
            FormElements.init();
            //validation();
        });
        function getConfirmation(id) {
            var ID = id;
            var retVal = confirm("Sure You Wana Delete it?");
            if (retVal == true) {
                var getUrl = "/MoterCycle1/delete"; // Controller Action Url (Delete function)
                $.ajax({
                    url: getUrl,
                    type: "POST",
                    data: { id: ID },
                    success: function (response) {
                        loadPartialView();
                        return true;
                    },
                });
            }
            else {
                return false;
            }
        }

    </script>
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">
}