﻿@model  List<Itldetailing.Models.MoterCycle>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Make</th>
                <th>Model</th>
                <th>CDI</th>
                <th>Eng No#</th>
                <th>Chaise No#</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @item.Make</td>
                        <td> @item.Model</td>
                        <td> @item.Cdi</td>
                        <td> @item.EngineNo</td>
                        <td> @item.ChaiseNo</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.Id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("ProductEdit", "Products", new { id = item.Id })"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                        i++;
                    }
                }

        </tbody>
    </table>
</div>


