﻿@model  IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Roles</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @{
                    int i = 1;
                    foreach (var item in Model)
                    {

                    <tr>
                        <td>@i</td>
                        <td>@(item.Name == null ? "" : item.Name)</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="deleteRole('@item.Name')"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                    i++;
                }
            }
        </tbody>
    </table>
</div>
