﻿@{
    ViewBag.Title = "Roles";
}
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Roles</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span>Add Roles</span>
            </li>
        </ol>
    </div>
</section>

<div class="container-fluid container-fullw bg-white">
    <div class="row" id="divAdd">
        <div class="col-sm-12">
            <button class="btn btn-success" style="margin-left: 15px;" onclick="showAdd('show')"><i class="fa fa-plus"></i>Add Role</button>
        </div>
    </div>
    <div class="row" style="display: none" id="divClose">
        <div class="col-sm-12">
            <button class="btn btn-danger" style="margin-left: 15px;" onclick="showAdd('hide')"><b><i class="fa fa-minus"></i>Close</b></button>
        </div>
    </div>
    <div id="divHide" class="row">
        <hr />
        <div class="col-sm-8">
            <div class="input-group">
                <div class="col-sm-10">
                    <input id="role" type="text" placeholder="Add Roles" class="form-control">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" onclick="save()" id="Submite">Add Role</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid container-fullw bg-white">
    <div id="divPartialView" class="row">

    </div>
</div>

<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("RolesView", "ManageRoles")" />
<input type="hidden" id="hidSaveRoleUrl" value="@Url.Action("SaveRole", "ManageRoles")" />
<input type="hidden" id="hidDeleteRoleUrl" value="@Url.Action("deleteRole", "ManageRoles")" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
