﻿@model Itldetailing.Models.Employe

<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mainTitle">Employe Information</h3>
        </div>
        <ol class="breadcrumb">
            <li>
                <span>Home</span>
            </li>
            <li class="active">
                <span> Add Employe Information</span>
            </li>
        </ol>
    </div>
</section>
<div class="container-fluid container-fullw bg-white">
    <div id="" class="row">
        <hr />
        @using (Html.BeginForm("Save", "Employe", FormMethod.Post, new { encType = "multipart/form-data", id = "form" }))
        {
            /////////////////////CSTMR//////////////////////////
            @Html.HiddenFor(x => x.id)
            @Html.HiddenFor(x => x.CreatedBy)
            @Html.HiddenFor(x=>x.CreatedDate)
            @Html.ValidationSummary()
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Code.# <span class="symbol" aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.Employecode, new { @class = "form-control", placeholder = "Employe Code.#" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Name <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeName, new { @class = "form-control", placeholder = "Employe Name" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Father Name <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeFather, new { @class = "form-control", placeholder = "Employe Father Name" })
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Mobile Number <span class="symbol" aria="false"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeMobile, new { @class = "form-control", placeholder = "Employe Mobile" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe CNIC <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeCnic, new { @class = "form-control", placeholder = "Employe CNIC" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Address <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeAddress, new { @class = "form-control", placeholder = "Employe Address" })
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Designation <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeDesignation, new { @class = "form-control", placeholder = "Employe Designation" })
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Salary <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.EmployeSalary, new { @class = "form-control", placeholder = "Employe Salary" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-offset-1">
                    <div class="form-group">
                        <label class="control-label">
                            Employe Advance Salary <span class="symbol " aria="true"></span>
                        </label>
                        @Html.TextBoxFor(x => x.AdvanceSalary, new { @class = "form-control", placeholder = "Employe Advance Salary" })
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-wide pull-right" style="margin-right:200px;" type="submit">
                        Update <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@*<input type="hidden" id="hidPartialViewUrl" value="@Url.Action("Partial", "Employe")" />*@
@*<input type="hidden" id="hidDeleteRoleUrl" value="@Url.Action("delete", "Employe")" />*@


@*@section Scripts {
    <script src="~/Content/vendor/maskedinput/jquery.maskedinput.min.js"></script>
    <script src="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/Content/vendor/autosize/autosize.min.js"></script>
    <script src="~/Content/vendor/selectFx/classie.js"></script>
    <script src="~/Content/vendor/selectFx/selectFx.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/js/form-elements.js"></script>
    
}

@section CSS {
    <link href="~/Content/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" media="screen">
    <link href="~/Content/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet" media="screen">*@
}