﻿@model  List<Itldetailing.Models.Employe>

<div class="table-responsive">
    <table class="table table-bordered table-hover" id="sample-table-1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Cnic</th>                
                <th>Mobile number</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {

                    <tr>
                        <td> @i</td>
                        <td> @(item.EmployeName + " " + item.EmployeFather)</td>
                        <td> @item.EmployeCnic</td>
                        <td> @item.EmployeMobile</td>
                        <td> @item.EmployeDesignation</td>
                        <td> @item.EmployeSalary</td>
                        <td class="text-center">
                            <a class="label label-danger" onclick="getConfirmation(@item.id);"><i class="fa fa-times"></i></a>
                            <a class="label label-default" href="@Url.Action("Edit", "Employe", new { id = item.id })"><i class="fa fa-pencil"></i></a>
                        </td>
                    </tr>
                        i++;
                    } 
                }
        </tbody>
    </table>
</div>


